#main{
	min-width: 400px;
	min-height: 650px;
	margin: 15px;
	border: 1px solid;
}

.report{
	overflow: hidden;
	margin: 15px;
	border: 1px solid;
	min-height: 400px;
	height: 100%;
	min-width: 400px;
}

.wage{
	overflow: hidden;
	margin: 15px;
	border: 1px solid;
	height:600px;
	width: 600px;
}
#wageMid{
	border: 1px solid;
}