.personalLIstTools{
	margin: 20px;
	display: grid;
	grid-template-columns: 1fr 250px;
	grid-column-gap: 10px;
}

#personalLIstTools{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.userSearch{
	display: grid;
	grid-template-columns: 1fr 55px;
	grid-column-gap: 10px;
}

h3{
	text-align: center;
}

h5 {
	margin: 2px 0 2px 0;
}

#user{
	margin: 15px;

}

.person :nth-child(even)  { background-color: #D3D3D3;}
.person :nth-child(odd) { background-color: #B4B3B1;}

.headerPerson{
	display: grid;
	border: 1px solid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 30px;
	margin-bottom: 5px;
	background-color: #A9A9A9;
}

.headerValue {
	border-right: 1px solid;
	font-size: 20px;
	text-align: center;


}

.person {
	display: grid;
	border: 1px solid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 25px;
}
.personValue{
	overflow: hidden;
	border-right: 1px solid;
	text-align: center;
	cursor: pointer;
}

		/*card*/

.card {
	display: grid;
	grid-template-columns: 235px 1fr;
	grid-gap: 5px;
}

.getCardIMG{
	float: left;
	width: 200px;
	height: 360px;
	border: 1px solid;
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(0,0,0,5);
	padding: 15px;
}
.getCardIMG img {
	width: 200px;
	overflow: hidden;
}

.userTools{
	display: grid;
	grid-template-columns: 1fr;
	/*grid-template-rows: 1fr;*/
	grid-gap: 10px;
}

#correct{
	display: grid;
	grid-template-columns: 1fr;
	/*grid-template-rows: 1fr 1fr;*/
	grid-gap: 10px;
}
#correct div{
	display: grid;
	grid-template-columns: 1fr;
	/*grid-template-rows: 1fr 1fr;*/
	grid-gap: 10px;
}

#deleteUser{
	background-color: red;
}

.personalInformation,  .workInformation, .education, .contact{
	border: 1px solid;
	border-radius: 20px;
	box-shadow: 0 0 10px rgba(0,0,0,5);
	padding: 15px;
}

.personalInformation{

}

.workInformation{

}
.education{

}

.information{
	display: grid;
	grid-template-columns: 1fr 1fr ;
	grid-gap: 10px;
	overflow: hidden;
	padding: 5px;

}

.getCard :nth-child(even)  { background-color: #D3D3D3;}
.getCard :nth-child(odd) { background-color: #B4B3B1;}

.getCard div{
	height: 20px ;
	display: grid;
	border: 1px solid;
	cursor: pointer;
}