
h3{
	text-align: center;
}

h5 {
	margin: 2px 0 2px 0;
}


#user{
	margin: 15px;

}

.person :nth-child(even)  { background-color: #D3D3D3;}
.person :nth-child(odd) { background-color: #B4B3B1;}

.headerPerson{
	display: grid;
	border: 1px solid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 30px;
	margin-bottom: 5px;
	background-color: #A9A9A9;
}

.headerValue {
	border-right: 1px solid;
	font-size: 20px;
	text-align: center;


}

.person {
	display: grid;
	border: 1px solid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 25px;
}
.personValue{
	border-right: 1px solid;
	text-align: center;
}

		/*card*/



.getCardIMG{
	float: left;
	width: 200px;
	height: 300px;
	border: 1px solid;
}
.getCardIMG img {
	width: 200px;
	overflow: hidden;
}

.personalInformation,  .workInformation, .education{
	float: left;
	border: 1px solid;
	width: 400px;
	min-width: 200px;
	height: 300px;
}

.personalInformation{

}

.workInformation{

}
.education{

}

.getCard :nth-child(even)  { background-color: #D3D3D3;}
.getCard :nth-child(odd) { background-color: #B4B3B1;}

.getCard {
	display: grid;
	grid-template-columns: repeat(1fr);
	grid-template-rows: repeat(1fr);;
	border: 1px solid;
	/*background-color: #D3D3D3;*/
}