
.user{
	margin: 15px;
}
#headerPerson{
	margin-bottom: 5px;
	background-color: Gainsboro;
}

.person {
	display: grid;
	border: 1px solid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 25px;
}
.personValue{
	border-right: 1px solid;
	text-align: center;
}
